Flask==0.10.1
Flask-WTF==0.10.0
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
flask-util-js==0.2.21
gunicorn==0.17.2
itsdangerous==0.24
numpy==1.7.0
scipy==0.11.0
scikit-learn==0.15.0
git+git://github.com/joejean/crab.git
scikits.learn==0.8.1
#scikits.crab==0.1
